<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Berlin Racing Team </title>
	<link rel="stylesheet" href="/css/base.css">
</head>

<body>

	<header>
		<h1><a href="/">Berlin Racing Team</a></h1>
	</header>

	<figure>
		<img src="//static.berlinracingteam.de/home/2015.jpg"/>
	</figure>
	<h2 class="sponsors">Unsere Partner und Sponsoren</h2>
	<ul class="sponsors">
		<li>
		  <a href="http://schaltauge24.de">
          </a>
		</li>
		<li>
		  <a class="img">
			<img src="http://static.berlinracingteam.de/sponsors/norbert-stieg.png" alt="Bautischlerei Norbert Stieg"/>
		  </a>
		</li>
		<li>
		  <a href="http://www.btsc-radsport.de/" class="img">
			<img src="http://static.berlinracingteam.de/sponsors/tsc.png" alt="Berliner TSC e.V."/>
		  </a>
		</li>
		<li>
		  <a class="img">
			<img src="http://static.berlinracingteam.de/sponsors/birkhahn.png" alt="Birkhahns Trockenbau"/>
		  </a>
		</li>
		<li>
		  <a href="http://www.laktat3.de" class="img">
			<img src="http://static.berlinracingteam.de/sponsors/laktat.png" alt="Laktat3 – Radfahren | Schwimmen | Laufen"/>
		  </a>
		</li>
		<li>
		  <a href="http://www.nu3.de/" class="img">
			<img src="http://static.berlinracingteam.de/sponsors/nu3.png" alt="nu3 - Die Nährstoffexperten"/>
		  </a>
		</li>
		<li>
		  <a href="http://www.previtacore.com/" class="img">
			<img src="http://static.berlinracingteam.de/sponsors/previtacore.png" alt="PrevitaCore"/>
		  </a>
		</li>
		<li>
		  <a href="http://www.vabsolut.de/" class="img">
			<img src="http://static.berlinracingteam.de/sponsors/vabsolut.png" alt="VAbsolut - Custom Bikes Wheels Training"/>
		  </a>
		</li>
	</ul>

	<footer>
		<p class=social>Wir sind auch bei <a href="https://www.facebook.com/berlinracingteam">Facebook</a>.</p>
		<p class=copyright>Berlin Racing Team © {{ .Year }}</p>
	</footer>

	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-67221-17', 'auto');ga('send', 'pageview');</script>

</body>
</html>
