<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Berlin Racing Team </title>
	<link rel="stylesheet" href="/css/base.css">
</head>

<body>

	<header>
		<h1><a href="/">Berlin Racing Team</a></h1>
	</header>

	<figure>
		<img src="//static.berlinracingteam.de/home/2015.jpg"/>
	</figure>
	<h2 class="sponsors">Unsere Partner und Sponsoren</h2>
	<ul class="sponsors">
        <li>
          <a href="http://schaltauge24.de">
            <img src="/img/schaltauge24.gif" alt="Schaltauge24.de"/>
          </a>
        </li>
        <li>
          <img src="/img/birkhahns.gif" alt="Birkhahn's"/>
        </li>
        <li>
          <a href="http://arne-friedrich-stiftung.de/">
            <img src="/img/arnefriedrich.gif" alt="Arne-Friedrich-Stiftung"/>
          </a>
        </li>
        <li>
          <a href="http://www.saenger-werbung.de/">
            <img src="/img/saenger.gif" alt="Sänger-Werbung"/>
          </a>
        </li>
        <li>
          <a href="http://sportslife-strausberg.de/">
            <img src="/img/sportslife.gif" alt="Sports Life"/>
          </a>
        </li>
        <li>
          <a href="http://berlinertsc.de/radsport/">
            <img src="/img/tsc.gif" alt="Berliner TSC e.V."/>
          </a>
        </li>
        <li>
          <img src="/img/stieg.gif" alt="Bautischlerei Norbert Stieg"/>
        </li>
        <li>
          <a href="http://th-bikefitting.de/">
            <img src="/img/th.gif" alt="Personal Training vom Profi Torsten Hiekmann"/>
          </a>
        </li>
	</ul>

	<footer>
		<p class=social>Wir sind auch bei <a href="https://www.facebook.com/berlinracingteam">Facebook</a>.</p>
		<p class=copyright>Berlin Racing Team © {{ .Year }}</p>
	</footer>

	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-67221-17', 'auto');ga('send', 'pageview');</script>

</body>
</html>
